.weddingListSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin: 0 auto 5% auto;
    text-align: center;
}

.weddingListSectionText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5% auto 0 auto;
    text-align: center;
}

.weddingListSectionGiftIcon {
    width: 90px;
    height: auto;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .weddingListSection {
        width: 90%;
    }
}