.welcomeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5% auto;
    width: 60%;
    padding: 0;
}

.welcomeSectionText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 5px;
    width: 90%;
}

.welcomeSectionImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin: auto;
}

.alliancesCroiseesImgWelcomePage {
    width: 70px;
}

@media only screen and (max-width: 768px) {
    .welcomeSection {
        width: 90%;
    }
    .welcomeSectionImage {
        width: 100%;
        height: auto;
    }
}