.welcomeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto 5% auto;
    /* background-image: url(../../assets/images/laMer.png);
    background-size: cover;
    background-position: cover; */
    width: 60%;
    padding: 0;
}

.welcomeSectionText {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
    border-radius: 5px;
    width: 90%;
}

.welcomeSectionImage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    border-radius: 5px;
    margin: auto;
}

.alliancesCroiseesImgWelcomePage {
    width: 70px;
}

@media only screen and (max-width: 768px) {
    /* [class*="welcomeSection"] {
        flex-direction: column;
        padding: 0;
        margin: 2% 0;
    } */
    .welcomeSectionImage {
        width: 100%;
        height: auto;
    }
    /* .welcomeSectionText {
        margin: 0 10%;
        padding: 10%; 
    }  */
    /* .slider {
        margin: 8% 0;
        overflow: hidden;
    }
    .sliderImg {
        width: 90%;
        height: 400px;
        margin: 4% auto;
    } */
}